py.py
.nfs*
resource/MG5_aMC*
ppww-sm
mumuzh-sm
mumuzh-smd5LO
mumuwwhhjj-smd5LO
diagrams
proc
run
log
build
bin
lib
test/*
!test/test-mumuwwhhjj-smd5LO
!test/test-mumuzh-sm
!test/test-mumuzh-smd5LO
!test/test-ppww-sm
*.swp
*.pdf
